
.container {
    margin-left:auto;
    margin-right: auto;
    width: 1100px;
}
.picture {
    width: 950px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}
.hdsalah {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-family:cursive;
    font-weight: bold;
}
img {
    display: flex;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow:1rem 1rem 1rem -1rem black;
    border-radius: 50%
}
.p1 {
    font-size: 22px;
    color: rgba(75, 69, 69, 0.623);
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.main {
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(238, 238, 238, 0.89);
    color: rgb(29, 23, 23);
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:1rem 1rem 1rem -1rem black;
    border-radius: 5%;
}